<?xml version="1.0"?>
<module>
    <namespace>MercadoPago</namespace>
    <version>1.0.0</version>
    <author>NexoPOS</author>
    <name>Mercado Pago</name>
    <description>Modulo de Pagamento pelo sistema do Mercado Pago</description>
    <settings>
        <setting key="mercadopago_access_token"/>
        <setting key="mercadopago_terminal_id"/>
    </settings>
</module>
